body {
    height: 100vh;
}
.box {
    width: 250px;
    height: 250px;
    background: orange;
}

.enfant {
    width: 50px;
    height: 50%;
    background: red;        /* la taille de l'enfant correspond a son parent ici .box*/
}