body {
    height: 100vh;

}

#p1 {
    /* display: none; */
    background: pink;
}

#p2 {
    visibility: hidden;
}

#p3 {
    opacity: 0;
}




/* 
    display none : le paragraphe disparaît du flux et les autres remonte il reste visible dans le DOM.
    visibility: hidden : le paragraphe disparait cependant on observe un espace entre les deux paragraphe.
    opacity 0 : le paragraphe disparaît en fonction de la valeur alloué a opacity, met on peut toujours intéragir avec l'élément.
*/