body {
    width:100%;
    height: 100vh;
    margin: 0;
}

.accueil {
    width: 100%;
    height: 100%;
    /* background: #333; */
    background-color: #333;
    background-image: url("/ressources/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    padding: 0px 10px;
    color: #333;
    text-decoration: none;
    /* cursor: auto; */
}


/*  Stylisation des liens :   

    Pour enlever la barre des liens on utilise text-decoration:none
    Pour enlever la main des liens il faut utiliser cursor: auto
*/

/* Background en détail :

    - background-color ou background permet de mettre un fond de la couleur choisi

    - background-position:center permet d'être au centre de l'image s'elle est assez grande et permet aussi le responsive

    - background-repeat: no-repeat permet d'éviter que l'image se répete dans la taille

    - background-size permet de gérer la taille de l'image
    si on met cover elle va garder un bon ratio taille et pixel d'image.


*/